<div class="text-center">

  <h1>Stupid Coaching</h1>

  <br>

  <%= @answer %>
  <h5>- You</h5>


  <br><br>


  <%= @coach_answer %>
  <h5>- Your coach</h5>

  <%= link_to "Back Ask", ask_path %>

</div>
