

<div class="text-center">
  <h1>Stupid Coaching</h1>
  <form class="" action="/answer"  method="get" data-turbo="false">
    <input type="text" name="user_answer">
    <input class="blue-button" type="submit" value="Ask!">
  </form>
</div>
